.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries */
@media (width >= 800px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (width >= 1400px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
}
