.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    max-width: 40ch;
    margin-top: 20px;
  }
  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  img {
    max-width: 200px;
    border-radius: 50%;
  }
}
/* Media Queries */
@media (width >= 800px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    img {
      max-width: 350px;
      width: 350px;
    }
  }
}
